/* frontend/app/src/components/charts/GoalProgressChart.module.css */
.chartContainer {
    width: 150px;
    height: 150px;
    margin: 1rem auto;
}

/* Aplicamos nuestros estilos y variables de tema a las clases de la librería */
.themedCircularProgressbar .CircularProgressbar-path {
    stroke: var(--success); /* Color de la barra de progreso */
    transition: stroke-dashoffset 0.5s ease 0s;
}

.themedCircularProgressbar .CircularProgressbar-trail {
    stroke: var(--muted); /* Color del fondo de la barra */
}

.themedCircularProgressbar .CircularProgressbar-text {
    fill: var(--success); /* Color del texto */
    font-size: 20px;
    font-weight: 600;
}